<strong>Booles' Rings is</strong>
<nav id="boolesrings-list">
  <a href="http://www.dorais.org/" title="François G. Dorais">François G. Dorais</a>
  <a href="https://victoriagitman.github.io/" title="Victoria Gitman">Victoria Gitman</a>
  <a href="http://karagila.org/" title="Asaf Karagila">Asaf Karagila</a>
  <a href="http://mikepawliuk.ca/" title="Mike Pawliuk">Mike Pawliuk</a>
  <a href="http://scoskey.org/" title="Samuel Coskey">Samuel Coskey</a>
  <a href="http://www.peterkrautzberger.org/" title="Peter Krautzberger">Peter Krautzberger</a>
  <a href="http://jdh.hamkins.org/" title="Joel David Hamkins">Joel David Hamkins</a>
  <a href="http://normanspace.org/" title="Norman Perlmutter">Norman Perlmutter</a>
  <a href="https://muellersandra.github.io/" title="Sandra Müller">Sandra Müller</a>
  <a href="http://blog.assafrinot.com/" title="Assaf Rinot">Assaf Rinot</a>
  <a href="http://m6c.org/w/blog/" title="Carl Mummert">Carl Mummert</a>
  <a href="http://dcernst.github.io/" title="Dana Ernst">Dana Ernst</a>
  <a href="https://nickpgill.github.io/" title="Nick Gill">Nick Gill</a>
  <a href="https://sixsmith2017.wordpress.com/" title="Dave Sixsmith">Dave Sixsmith</a>
</nav>
<script type="text/javascript">for (var i = document.getElementById("boolesrings-list").children.length; i >= 0; i--) document.getElementById("boolesrings-list").appendChild(document.getElementById("boolesrings-list").children[Math.random() * i | 0]);</script> 
