<strong>Booles' Rings is</strong>
<nav id="boolesrings-list">
<a href="http://logic.dorais.org/" title="François G. Dorais">François G. Dorais</a>
<a href="http://boolesrings.org/victoriagitman/" title="Victoria Gitman">Victoria Gitman</a>
<a href="http://boolesrings.org/asafk/" title="Asaf Karagila">Asaf Karagila</a>
<a href="http://boolesrings.org/mpawliuk/" title="Mike Pawliuk">Mike Pawliuk</a>
<a href="http://boolesrings.org/scoskey/" title="Samuel Coskey">Samuel Coskey</a> 
<a href="http://www.peterkrautzberger.org/" title="Peter Krautzberger">Peter Krautzberger</a> 
<a href="http://jdh.hamkins.org/" title="Joel David Hamkins">Joel David Hamkins</a> 
<a href="http://boolesrings.org/perlmutter/" title="Norman Perlmutter">Norman Perlmutter</a> 
<a href="http://boolesrings.org/matsguru/" title="Mimi Tsuruga">Mimi Tsuruga</a> 
<a href="http://blog.assafrinot.com/" title="Assaf Rinot">Assaf Rinot</a> 
<a href="http://m6c.org/w/blog/" title="Carl Mummert">Carl Mummert</a> 
<a href="http://dcernst.github.io/" title="Dana Ernst">Dana Ernst</a> 
<a href="http://boolesrings.org/ioanna/" title="Ioanna Dimitriou">Ioanna Dimitriou</a> 
<a href="http://boolesrings.org/nickgill/" title="Nick Gill">Nick Gill</a> 
<a href="http://boolesrings.org/davesixsmith/" title="Dave Sixsmith">Dave Sixsmith</a> 
<a href="http://boolesrings.org/jvanname/" title="Joseph Van Name">Joseph Van Name</a> 
</nav>
<script type="text/javascript">for (var i = document.getElementById("boolesrings-list").children.length; i >= 0; i--) document.getElementById("boolesrings-list").appendChild(document.getElementById("boolesrings-list").children[Math.random() * i | 0]);</script> 

