<strong>Booles' Rings is</strong>
<nav>
<ul id="boolesrings-list">
<li><a href="http://logic.dorais.org/" title="François G. Dorais">François G. Dorais</a></li>
<li><a href="http://boolesrings.org/victoriagitman/" title="Victoria Gitman">Victoria Gitman</a></li>
<li><a href="http://boolesrings.org/asafk/" title="Asaf Karagila">Asaf Karagila</a></li>
<li><a href="http://boolesrings.org/mpawliuk/" title="Mike Pawliuk">Mike Pawliuk</a></li>
<li><a href="http://boolesrings.org/scoskey/" title="Samuel Coskey">Samuel Coskey</a></li> 
<li><a href="http://www.peterkrautzberger.org/" title="Peter Krautzberger">Peter Krautzberger</a></li> 
<li><a href="http://jdh.hamkins.org/" title="Joel David Hamkins">Joel David Hamkins</a></li> 
<li><a href="http://boolesrings.org/perlmutter/" title="Norman Perlmutter">Norman Perlmutter</a></li> 
<li><a href="http://boolesrings.org/matsguru/" title="Mimi Tsuruga">Mimi Tsuruga</a></li> 
<li><a href="http://blog.assafrinot.com/" title="Assaf Rinot">Assaf Rinot</a></li> 
<li><a href="http://m6c.org/w/blog/" title="Carl Mummert">Carl Mummert</a></li> 
<li><a href="http://dcernst.github.io/" title="Dana Ernst">Dana Ernst</a></li> 
<li><a href="http://boolesrings.org/ioanna/" title="Ioanna Dimitriou">Ioanna Dimitriou</a></li> 
<li><a href="http://boolesrings.org/nickgill/" title="Nick Gill">Nick Gill</a></li> 
<li><a href="http://boolesrings.org/davesixsmith/" title="Dave Sixsmith">Dave Sixsmith</a></li> 
</ul> 
<script type="text/javascript">for (var i = document.getElementById("boolesrings-list").children.length; i >= 0; i--) document.getElementById("boolesrings-list").appendChild(document.getElementById("boolesrings-list").children[Math.random() * i | 0]);</script> 
</nav>

