name: boolesrings.org cronjob

on:
  schedule:
    - cron: '17 */4 * * *'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - run: |
          echo Update boolesrings.org
          echo configure git
          git config user.name github-actions
          git config user.email github-actions@github.com
          mkdir -p feeds
          echo install boolesrings-base2
          npm i boolesrings/boolesrings-base2
          echo run build
          node node_modules/boolesrings-base2/lib/app.js .
          git add Blogs.html Blogs.xml
          git commit -m "chore: cron job" || true
          git push
